@width: 1920px;
@padding: 50px @width/6.5;
@button-color: #998675;

.hover() {
    color: #998675;
}

.active() {
    color: #363636;
}

.hover-btn {
    background-color: #c7b299;
}

.active-btn {
    background-color: #363636;
}

.p-style() {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    font-family: Montserrat;

}



.h2-style() {
    font-family: Raleway;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

body {
    margin: 0 auto;
    max-width: @width;
    box-sizing: border-box;
}

header {
    width: 100%;
    box-sizing: border-box;
    background-image: url(../img/header-bcg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #363636;
    padding: 35px;
}

.header-logo {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #fff;
    margin: 0 30px 0 0;

    &-name {
        font-family: Raleway;
        font-size: 34px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.04em;
        position: relative;
    }

    &-svg {
        fill: currentColor;
    }

    &:hover {
        .hover()
    }

    &:active {
        .active()
    }
}

.header-nav-wrp {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
}

.header-nav {

    &-link {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
        text-decoration: none;
    }

    &-link:hover {
        .hover()
    }

    &-link:active {
        .active()
    }

    & ul {
        margin: 15px 0 0 0;
        padding: 0;
    }

    & li {
        list-style-type: none;
        display: inline-block;
        margin: 0 15px 15px 15px;
        text-transform: capitalize;
    }

    & li:nth-child(9) {
        margin-left: 30px;
    }

    & li:nth-child(10) {
        margin-left: 25px;
    }

    &-cart {
        background-image: url(../img/cart.png);
        background-size: cover;
        background-color: transparent;
        border: none;
        outline: none;
        width: 18px;
        height: 24px;
        position: absolute;
    }

    &-search {
        background-image: url(../img/search.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        outline: none;
        border: none;
        width: 24px;
        height: 24px;
        position: absolute;
    }

    &-search:focus {
        width: 300px;
        transition: width 1s ease-out;
        background-position: right;
    }

    @media screen and (min-width: 1270px) {
        &-search:focus {
            top: 100px;
            right: 700px;
            width: 300px;
            transition: width 1s ease-out;
            background-position: right;
        }
    }
}

.header-carusel {
    margin: 15% 0 0 0;
    width: 100%;
    box-sizing: border-box;

    &-list {
        margin: 0;
        padding: 0;
    }

    &-element {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-h2 {
            font-family: Raleway;
            font-size: 36px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
        }

        &-h1 {
            font-family: Raleway;
            font-size: 52px;
            line-height: 1.2;
            font-weight: 800;
            color: #ffffff;
            margin: 10px 0;
        }

        &-p {
            font-family: Montserrat;
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            color: #ffffff;
            margin: 0;
            max-width: 50%;
            text-align: center;
        }

        &-btn {
            padding: 20px 35px;
            background-color: @button-color;
            border-radius: 3.0px;
            font-family: Raleway;
            font-size: 14px;
            line-height: 23px;
            font-weight: 800;
            text-transform: uppercase;
            color: #ffffff;
            border: none;
            margin: 50px 0 0 0;

            &:hover {
                .hover-btn()
            }

            &:active {
                .active-btn()
            }

            &:focus {
                outline: none;
            }
        }
    }

    &-arrow-left {
        top: 330px;
        left: 50px;
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        margin: 0;
        border-bottom: 3px solid #ebebeb;
        border-left: 3px solid #ebebeb;
        transform: rotate(45deg);
        transform-origin: bottom left;

        &:hover {
            border-color: #c7b299;
        }

        &:active {
            border-color: #363636;
        }

    }


    &-arrow-right {
        top: 330px;
        right: 50px;
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        margin: 0;
        border-bottom: 3px solid #ebebeb;
        border-right: 3px solid #ebebeb;
        transform: rotate(315deg);
        transform-origin: bottom right;

        &:hover {
            border-color: #c7b299;
        }

        &:active {
            border-color: #363636;
        }
    }


    &-pagination {
        box-sizing: border-box;
        width: 20%;
        margin: 15% auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &-circle {
            display: block;
            width: 11px;
            height: 11px;
            opacity: 0.5;
            background-color: #ffffff;
            border-radius: 50%;
            border: 2px solid transparent;
            margin: 0 5px;

            &:hover {
                border: 2.0px solid #d3c1ad;
                background-color: transparent;
                transform: scale(1.2);
            }
        }
    }
}

.services {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 70px 15%;

    &-wrp {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 25%;
        margin: 0 1%;

        &:after {
            content: "";
            display: block;
            height: 3px;
            width: 40%;
            background-color: #555;
        }

        &:hover:after {
            background-color: #c7b299;
        }

        &:hover .services-svg {
            fill: #c7b299;
        }

        &:hover .services-h2 {
            color: #c7b299;
        }
    }

    &-h2 {
        .h2-style();
        font-size: 22px;
        width: 100%;
    }

    &-p {
        .p-style();
    }

    &-svg {
        margin: 0 0 20px 0;
        fill: #555;
    }
}

.realization {
    box-sizing: border-box;
    width: 100%;
    min-height: 700px;
    background-color: #fbfaf8;
    text-align: center;
    padding: 70px 25%;
    background-image: url(../img/bcg-realization-front.jpg), url(../img/bcg-realization-left.jpg), url(../img/bcg-realization-right.jpg);
    background-repeat: no-repeat;
    background-position: bottom, 25% bottom, 75% bottom;


    &-h2 {
        .h2-style();
        font-size: 30px;
        margin: 0;
    }

    &-p {
        .p-style();
        margin: 20px 0 0 0;
    }
}

.text-boxes {
    box-sizing: border-box;
    width: 100%;
    padding: 3% 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);

    &-wrp {
        box-sizing: border-box;
        width: 70%;
    }

    &-h2 {
        font-family: Raleway;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        color: #c7b299;
        margin: 0;
    }

    &-link {
        text-decoration: none;
        color: #ffffff;

        &:hover {
            .hover();
        }

        &:active {
            .active();
        }
    }

    &-p {
        margin: 1.5% 0 0 0;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #615855;

    }

    &-btn {
        background-color: @button-color;
        border-radius: 3.0px;
        font-family: Raleway;
        font-size: 14px;
        line-height: 23px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
        width: 20%;
        height: 50px;
        outline: none;
        border: none;
        padding: 0;

        &:hover {
            .hover-btn();
        }

        &:active {
            .active-btn();
        }
    }


}
